body {
  background-color: #E8E8E8;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
header {
  background-color: #FB0;
  padding: 8px;
}
header .container {
  margin: 0 auto;
  max-width: 1024px;
}
.white-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-bottom: 45px;
  margin-top: 45px;
  padding: 10px;
  width: 30%;
}
.check-box{
  color: black;
  text-decoration: none;
}
.checked {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}
#input-item {
  padding: 10px;
  width: 95%;
}
.todo button {
  float: right;
}
